
body{
	background-image: url("../images/background12.jpg");
}
.header{
    font-size: 80px;
    color: purple;
  	text-align: center;
	  font-family: Georgia, serif;
  }

.container{
	background-color: aqua;
    margin: 50px auto 50px auto;
    max-width: 1200px;
    background: rgba(245, 247, 245, 0.6);
    padding:15px;
    box-shadow: 0px 1px 2px #666666;
    border-radius: 5px;
  }

  .instractions-box{
    line-height: 30px;
    background: rgba(245, 247, 245, 0.6);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #666666;
  }

  .title{
    font-size: 24px;
  }

  .randomnumber-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto 0 auto;
  }

  .random-number{
    text-align: center;
    margin: 10px auto 0 auto;
    font-size: 50px;
    font-weight: bold;
    padding: 15px;
	color: darkred;
  }

  .records {
	text-align: center;
	font-size: 30px;
  }

  .crystal-image {
    width: 120px;
    height: 150px;
    margin: 15px;
  }
  
  #crystals {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 720px;
  }
  
  .footer{
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
	text-align: center;
  }


 